@use '@angular/material' as mat;
@import '@angular/material/prebuilt-themes/indigo-pink.css';


mat-drawer-content {
  height: 100vh;

}

mat-drawer-container {
  height: 100vh;
}

.toolbar-submenu {
  height: 205px;
  font-size: 2rem;
  margin-top: 0px;
  padding: 60px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: #575757;

  &-top {
    height: 40px;

    .example-icon{
      color: white;
    }
  }

  &-title {
    padding: 52px 30px;
    text-transform: capitalize;
  }
}

mat-toolbar-row{
  padding: 0;
}


// - - - - SIDEBAR - - - -
.mat-drawer-content {
  background-color: #efefef;
}

.sidenav {
  width: 250px;
  margin-top: 64px; //top menu

  .mat-icon {
    margin: 10px 20px 0 0;
    font-size: 18px;
    color: #636363;
  }

  mat-toolbar {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 200px;
    background-color: #fff;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .name {
    margin-top: 8px;
    font-weight: normal;
  }

  .designation {
    margin-top: 2px;
    font-size: 0.8rem;
    color: grey;
  }

  mat-nav-list {
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
      border-radius: 10px;
      margin-bottom: 4px;
      padding-top: 1px;
      font-size: 0.9rem;
    }

    a:hover,
    .active {
      background-color: #e6e6e6;
    }
  }
}
