<form [formGroup]="form">
  <div class="container-courses">
    <mat-form-field class="form-field-category">
      <mat-label>Categoria</mat-label>
      <mat-select formControlName="category">
        <mat-option value="">Todas</mat-option>
        <mat-option *ngFor="let item of categoryValue" [value]="item">
          {{ item }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="form-field-search">
      <mat-label>Filtro</mat-label>
      <input matInput formControlName="search">
      <button matSuffix mat-icon-button (click)="doSearch()">
        <mat-icon matSuffix>search</mat-icon>
      </button>
    </mat-form-field>
    <mat-paginator class="form-field-paginator" [length]="totalCount" [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 25, 100]" itemsPerPageLabel="" (page)="handlePageEvent($event)">
    </mat-paginator>
  </div>
</form>

<div class="container-courses" *ngIf="courseData | async; else loading">
  <div class="container-cards" *ngFor="let course of courseList">
    <mat-card class="mat-elevation-z4" appearance="outlined">
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-subtitle>
        {{ course.category }}
        <div class="flex-divider"></div>
        <button mat-mini-fab style="margin-top:-32px;" class="mat-elevation-z4">
          <mat-icon>favorite</mat-icon>
        </button>
      </mat-card-subtitle>
      <mat-card-title>{{ course.name }}</mat-card-title>
      <mat-card-content>
        {{ course.description }}
      </mat-card-content>
      <br>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <button mat-button>INSCREVER</button>
        <div class="flex-divider"></div>
        <button mat-icon-button>
          <mat-icon>shared</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="filter-response" *ngIf="!courseList.length">
    <br>
    <p>Nenhum curso encontrado para o seu filtro: </p>
    <p *ngIf="f.category.value"> <b>Categoria</b> {{f.category.value}} </p>
    <p *ngIf="f.search.value"> <b>Filtr:</b> {{f.search.value}} </p>
  </div>
</div>
<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
