<div class="content mat-elevation-z4">
  <app-toolbar-title title="Cursos" icon="fa-graduation-cap">
    <button mat-icon-button>
      <mat-icon>shared</mat-icon>
    </button>
  </app-toolbar-title>
  <div class="container">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa incidunt blanditiis qui. Fuga, delectus quod molestiae vero sit possimus nobis labore reprehenderit nam aliquam voluptate facilis velit reiciendis architecto nemo?
    <br><br><br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio possimus provident, debitis praesentium quia repellendus qui porro perferendis saepe animi atque quidem, amet ex, ipsum dolorem. Nemo iste facilis quasi.
    <br><br><br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, vero officiis, est sunt sed consectetur hic facere dolor velit corporis minima modi vel aperiam quo. Quas laboriosam inventore facere, magnam quidem sequi! Repellat, culpa. Voluptate voluptates sit atque expedita voluptas.
    <br><br><br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, vero officiis, est sunt sed consectetur hic facere dolor velit corporis minima modi vel aperiam quo. Quas laboriosam inventore facere, magnam quidem sequi! Repellat, culpa. Voluptate voluptates sit atque expedita voluptas.
    <br><br><br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, vero officiis, est sunt sed consectetur hic facere dolor velit corporis minima modi vel aperiam quo. Quas laboriosam inventore facere, magnam quidem sequi! Repellat, culpa. Voluptate voluptates sit atque expedita voluptas.
    <br><br><br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, vero officiis, est sunt sed consectetur hic facere dolor velit corporis minima modi vel aperiam quo. Quas laboriosam inventore facere, magnam quidem sequi! Repellat, culpa. Voluptate voluptates sit atque expedita voluptas.
    <br><br><br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, vero officiis, est sunt sed consectetur hic facere dolor velit corporis minima modi vel aperiam quo. Quas laboriosam inventore facere, magnam quidem sequi! Repellat, culpa. Voluptate voluptates sit atque expedita voluptas.
    <br><br><br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, vero officiis, est sunt sed consectetur hic facere dolor velit corporis minima modi vel aperiam quo. Quas laboriosam inventore facere, magnam quidem sequi! Repellat, culpa. Voluptate voluptates sit atque expedita voluptas.
    <br><br><br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, vero officiis, est sunt sed consectetur hic facere dolor velit corporis minima modi vel aperiam quo. Quas laboriosam inventore facere, magnam quidem sequi! Repellat, culpa. Voluptate voluptates sit atque expedita voluptas.
    <br><br><br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, vero officiis, est sunt sed consectetur hic facere dolor velit corporis minima modi vel aperiam quo. Quas laboriosam inventore facere, magnam quidem sequi! Repellat, culpa. Voluptate voluptates sit atque expedita voluptas.
    <br><br><br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, vero officiis, est sunt sed consectetur hic facere dolor velit corporis minima modi vel aperiam quo. Quas laboriosam inventore facere, magnam quidem sequi! Repellat, culpa. Voluptate voluptates sit atque expedita voluptas.
    <br><br><br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, vero officiis, est sunt sed consectetur hic facere dolor velit corporis minima modi vel aperiam quo. Quas laboriosam inventore facere, magnam quidem sequi! Repellat, culpa. Voluptate voluptates sit atque expedita voluptas.
    <br><br><br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, vero officiis, est sunt sed consectetur hic facere dolor velit corporis minima modi vel aperiam quo. Quas laboriosam inventore facere, magnam quidem sequi! Repellat, culpa. Voluptate voluptates sit atque expedita voluptas.
    <br><br><br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, vero officiis, est sunt sed consectetur hic facere dolor velit corporis minima modi vel aperiam quo. Quas laboriosam inventore facere, magnam quidem sequi! Repellat, culpa. Voluptate voluptates sit atque expedita voluptas.
    <br><br><br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, vero officiis, est sunt sed consectetur hic facere dolor velit corporis minima modi vel aperiam quo. Quas laboriosam inventore facere, magnam quidem sequi! Repellat, culpa. Voluptate voluptates sit atque expedita voluptas.
    <br><br><br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, vero officiis, est sunt sed consectetur hic facere dolor velit corporis minima modi vel aperiam quo. Quas laboriosam inventore facere, magnam quidem sequi! Repellat, culpa. Voluptate voluptates sit atque expedita voluptas.
    <br><br><br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, vero officiis, est sunt sed consectetur hic facere dolor velit corporis minima modi vel aperiam quo. Quas laboriosam inventore facere, magnam quidem sequi! Repellat, culpa. Voluptate voluptates sit atque expedita voluptas.
    <br><br><br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, vero officiis, est sunt sed consectetur hic facere dolor velit corporis minima modi vel aperiam quo. Quas laboriosam inventore facere, magnam quidem sequi! Repellat, culpa. Voluptate voluptates sit atque expedita voluptas.
    <br><br><br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, vero officiis, est sunt sed consectetur hic facere dolor velit corporis minima modi vel aperiam quo. Quas laboriosam inventore facere, magnam quidem sequi! Repellat, culpa. Voluptate voluptates sit atque expedita voluptas.
    <br><br><br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, vero officiis, est sunt sed consectetur hic facere dolor velit corporis minima modi vel aperiam quo. Quas laboriosam inventore facere, magnam quidem sequi! Repellat, culpa. Voluptate voluptates sit atque expedita voluptas.
    <router-outlet />
  </div>
</div>
